<template>
  <fieldset>
    <label for="feedUrl"></label>
    <input
      type="url"
      id="feedUrl"
      name="feedUrl"
      :value="currentSettings.feedUrl"
      list="defaultURLs"
      pattern="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?"
      :placeholder="t('url_placeholder_label')"
    />

    <datalist id="defaultURLs">
      <option
        value="https://news.google.com/news/rss/?ned=de&gl=DE&hl=de"
        label="Google News DE"
      >
      </option>
      <option
        value="https://rss.sueddeutsche.de/rss/Topthemen"
        label="Süddeutsche Zeitung – Topthemen"
      >
      </option>
      <option
        value="https://www.nytimes.com/services/xml/rss/nyt/World.xml"
        label="The New York Times – World"
      >
      </option>
      <option
        value="https://rss.kicker.de/news/aktuell"
        label="Kicker.de alle Sportnews"
      >
      </option>
    </datalist>
  </fieldset>
</template>

<script>
module.exports = {
  name: "rss-feeds",
  props: {
    currentSettings: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  locales: {
    enGb: {
      url_placeholder_label: "Enter a valid newsfeed URL (RSS or atom)"
    },
    deDe: {
      url_placeholder_label: "Gib eine gültige Newsfeed-URL ein (RSS oder atom)"
    },
    frFr: {
      url_placeholder_label:
        "Entrez une URL de flux de nouvelles valide (RSS ou atom)"
    },
    esEs: {
      url_placeholder_label:
        "Introduce una URL de noticias válida (RSS o átomo)"
    },
    plPl: {
      url_placeholder_label:
        "Wprowadź prawidłowy adres URL kanału informacyjnego (RSS lub atom)"
    },
    koKr: {
      url_placeholder_label:
        "유효한 뉴스 피드 URL (RSS 또는 원자)을 입력하십시오."
    }
  }
};
</script>
